{"configSettings":[{"appID":"8118426451526552","serverToken":"3CLGGOXXVMNQZZXZOUTANAT5WT72MJKU"},{"appID":"SharedServerToken","serverToken":"3IEKDRFLLGPYOLDA7AQGJFVM77YSUW6U"},{"appID":"1316111772432872","serverToken":"3IEKDRFLLGPYOLDA7AQGJFVM77YSUW6U"},{"appID":"378845660994729","serverToken":""}]}